<section class="stats only-desktop" aria-label="zaufanie i liczby">
  <div class="stats-wrap">
    <div class="stat pulse">
      <div class="stat-number gradient-text">+900</div>
      <div class="stat-label">Sporządzonych spersonalizowanych raportów numerologicznych dla klientów w Polsce</div>
    </div>
    <div class="stat pulse">
      <div class="stat-number gradient-text">+35</div>
      <div class="stat-label">Osób, które codziennie otrzymują nasze raporty i plakaty cyfrowe</div>
    </div>
  </div>
</section>
